<!DOCTYPE HTML>
<html>
<head>
  <title>Ala Too</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link th:href="@{/css/home.css}" rel="stylesheet"/>
</head>
<body>

<header class="tm-header">
  <img class="tm-logo" src="/img/logo.png" alt="">
  <nav class="tm-nav" >
    <div>
      <ul>
        <li class="tm-list"><a href="/home">Home</a></li>
        <li class="tm-list"><a href="/explore">Explore</a></li>
        <li class="tm-list"><a href="/place">Place</a></li>
        <li class="tm-list"><a href="/booking">Booking</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>


</body>
</html>