<!DOCTYPE HTML>
<html>
<head>
    <title>Ala Too</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/home.css}" rel="stylesheet"/>
</head>

<body>

<header class="tm-header">
    <img class="tm-logo" src="/img/logo.png" alt="">
    <nav class="tm-nav" >
        <div>
            <ul>
                <li class="tm-list"><a href="/home">Home</a></li>
                <li class="tm-list"><a href="/explore">Explore</a></li>
                <li class="tm-list"><a href="/place">Place</a></li>
                <li class="tm-list"><a href="/booking">Booking</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>

<section class="tm-main">
    <p>Place</p>
</section>


<section class="tm-roomsection">
    <div class="tm-room1">

        <img class="tm-roomimage" src="/img/alatoobooking%20-img.jpg">
        <p class="s">Zal</p>

    </div>
    <div class="tm-room1">

        <img class="tm-roomimage" src="/img/alatoobooking%20-img.jpg">
        <p>Zal</p>

    </div>
    <div class="tm-room1">


        <img class="tm-roomimage" src="/img/alatoobooking%20-img.jpg">
        <p>Zal</p>

    </div>
</section>
<br/>
<section class="tm-roomsection">
    <div class="tm-room1">


        <img class="tm-roomimage" src="/img/alatoobooking%20-img.jpg">
        <p class="s">Zal</p>

    </div>
    <div class="tm-room1">


        <img class="tm-roomimage" src="/img/alatoobooking%20-img.jpg">
        <p>Zal</p>

    </div>
    <div class="tm-room1">


        <img class="tm-roomimage" src="/img/alatoobooking%20-img.jpg">
        <p>Zal</p>

    </div>
</section>
<br/>



<section class="tm-makeres">
    <div class="tm-res">
        <div class="tm-resbutton">
            <a href="/booking"> <p>Make Reservation</p></a>
        </div>
    </div>
</section>

<footer class="tm-footer">
    <div class="tm-us">
        <p class="bold">About Us</p>
        <p>International Ala Too University</p>
    </div>

    <div class="tm-address">
        <p class="bold">Address</p>
        <p>Ankara Street 1/8, Tunguch, Bishkek, Kyrgyz Republic
            Phone : (996)700355351
            Email : avlbekovomurbek@gmail.com</p>
    </div>
    <br/>
    <div class="tm-media">
        <a href="https://www.facebook.com/login/"> <img src="/img/facebook.png"></a>
        <a href="https://www.instagram.com/avalbekov_kgz/"> <img src="/img/instagram.png"> </a>
        <a href="https://wa.me/700355351/"> <img src="/img/whatsapp.png"> </a>
        <a href="https://twitter.com/Avalbekov_kgz">  <img src="/img/twitter.png"> </a>

    </div>
</footer>


</body>
</html>